@use "variables" as *;
@use "methods" as *;
@use "sass:map";

[data-details] {
  display: block;

  > summary, &[open] > summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  summary .icon {
    display: none;
  }

  @include min(map.get($width, 'tablet')) {
    @media screen {
      summary .icon {
        display: block;
        float: left;
        height: 1em;
        width: 1em;
        text-align: center;

        &.open {
          display: none;
        }

        svg {
          fill: var(--foreground);
          margin-top: 0.25em;
          max-height: 1em;
          max-width: 1em;
        }
      }

      &[open] summary .icon {
        &.open {
          display: block;
        }

        &.closed {
          display: none;
        }
      }

    }
  }
}

#beardPath {
  stroke: none;
  fill-rule: nonzero;
  fill: var(--foreground);
  fill-opacity: 1;
}
