/**
 * Our custom button, to be used throughout the project.
 */
@mixin button() {
  border-radius: 5px;
  display: inline-block;
  padding: .3rem;
  text-align: center;
  transition: all .3s ease;

  svg path {
    transition: all .3s ease;
  }

  @content;
}

/**
 * Ability to use shorthand media query in our project.
 */
@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

/**
 * GOV.UK Frontend's Visually Hidden mixin, allowing elements to be readable but visually non-existent.
 */
@mixin govuk-visually-hidden() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  // Long content without line feeds wraps 1 word per line at 1px wide.
  white-space: nowrap !important;
  width: 1px !important;
}
