@use "core";

body > header.about {
  > div {
    display: block;
  }
}

body > main#about {
  strong {
    @media print {
      font-weight: 600;
    }
  }

  section {
    padding: 0;
    width: 100%;
  }

  section#skills {
    div[data-skills] {
      display: grid;
      grid-template-columns: auto auto auto;

      strong {
        display: block;
        font-weight: 600;
      }

      > div {
        margin-bottom: 1rem;
        padding: 0 .5rem;

        &:nth-of-type(3n-2) {
          padding-left: 0;
        }

        &:nth-of-type(3n) {
          padding-right: 0;
        }
      }
    }

    button {
      background: none;
      border: 0;
      cursor: pointer;
      display: inline-block;
      font: inherit;
      line-height: 1.6;
      padding: 0;
      user-select: text;

      &[aria-pressed="true"] {
        @media screen {
          color: var(--link-active);
          text-decoration: underline;
        }

        @media print {
          font-weight: 600;
        }
      }
    }
  }

  section#timeline {
    h3 {
      margin-top: 1rem;
    }

    ol, ul {
      margin: 0;
      padding-left: 1rem;

      > li {
        margin: .75rem 0;
      }

      @media print {
        padding-left: 1.5rem;

        > li {
          margin: .25rem 0;
        }
      }
    }

    details {
      @media print {
        margin-bottom: 1rem;
        break-inside: avoid;
      }

      summary {
        cursor: pointer;
        display: inline-block;

        @media print {
          font-weight: 400;
          margin-bottom: .5rem;
        }

        span.link {
          display: none;
          font-weight: 300;

          @media print {
            display: inline;
          }
        }

        span.organisation {
          color: var(--link);
        }

        .icon {
          margin-right: .4rem;
        }
      }

      p {
        margin: 0;
        padding: 0;
      }

      ul {
        margin: .25rem;
        margin-left: 1.5rem;

        @media print {
          margin: .5rem;
        }
      }

      div.embedded, p.organisation {
        @media screen {
          margin-left: 1.3rem;

          ul {
            margin-left: 0;
          }
        }
      }

      p.organisation {
        font-size: 90%;
        margin-bottom: 1rem;
      }
    }

    [data-details=no-print] > *:not(summary) {
      @media print {
        display: none;
      }
    }
  }
}
